@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

@import "primeicons/primeicons.css";

@import "tailwindcss";

/* Color variables */
@layer base {
  :root {
    --primary: #003366;
    --secondary: #4a90e2;
    --background: #ffffff;
    --accent: #28a745;
    --danger: #d32f2f;
    --link: #009688;
  }
}

* {
  font-family: "Inter", sans-serif;
  /* color: #e3e6eb; */
}

.heroCover {
  background-image: url("./assets/hero.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 55%;
}
.moreco {
  background-image: url("./assets/pers.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a.activeItem {
  color: rgb(2, 33, 206);
  font-family: 600;
  border-bottom: 2px solid rgb(1, 38, 203);
}

.nav-item {
  position: relative;
  color: #4b5563; /* gray-700 */
  transition: all 0.3s ease;
}

.nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  bottom: 20%;
  width: 4px;
  background-color: transparent;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #e5e7eb; /* gray-200 */
}

.nav-item.active {
  color: #1d4ed8; /* blue-700 */
  font-weight: 500;
  background-color: #d9e1f4;
}

.nav-item.active .icon,
.nav-item.active .label {
  color: #1d4ed8; /* blue-700 */
}

.nav-item.active::before {
  background-color: #1d4ed8; /* blue-700 */
}
